/* Global styles */
p {
    font-family: 'Montserrat Alternates', sans-serif;

}

.centext {
    text-align: center;
}

.space h3 {
    /* border: 2px solid gray; */
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
}

.space hr {
    width: 70%;
}

.space p {
    font-size: 14px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* navigation */
nav {
    background: black;
    height: 80px;
}

/* section 1 */
.section-one {
    background: #FBFCFF;
}

.section-one img {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.section-one p {
    color: black;
    font-size: 11x;
    float: right;
    position: relative;
    top: 10px;
}

.section-one h3 {
    color: black;
}

/* section 2 +3  */
.section-two,
.section-three {
    background: darkcyan;
}





/* card */
.card {

    height: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
    border-radius: 5px;
    border: 2px solid gray;
    overflow: auto;


}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.card-text {
    padding: 2px 16px;

}

.card-text p,
.card h4 {
    font-size: 14px;
    color: black;

}


/* footer */
footer {
    background: black;
    color: white;

}

.end {
    position: relative;
    bottom: 1px;
    height: 100px;
    background: black;

}

.contact a {
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
}

.tech img {
    margin: 10px;
    float: left;
    width: 70px;
    height: 70px;
    /* background: white; */
}

#mocha,
#express {
    height: 90px;
    width: 200px;
}


/* Media queries */
@media only screen and (max-width:720px) {
    .card {
        width: 80%;
        display: inline-block;
    }

}