/* Global styles */
.spacer {
    height: 50px;
}

p,
h5 {
    font-family: 'Montserrat', sans-serif;
}


.centext {
    text-align: center;
}

.space h3 {
    /* border: 2px solid gray; */
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
}

.space hr {
    width: 70%;
}

.space p {
    font-size: 14px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* navigation */
nav {
    background: darkcyan;
    height: 30px;
}

/* section 1 */
.section-one {
    background: #FBFCFF;
}

.section-one img {
    height: 200px;
    border-radius: 50%;
}

.section-one p {
    font-size: 16px;
}

.top-p {
    position: relative;
}

.section-one h3 {
    color: black;
}

/* section 2 +3  */
.section-two,
.section-three {
    background: darkcyan;
}





/* footer */
footer .carousel {
    height: 250px;
}

footer {
    background: black;
    color: white;
}

.end {
    position: relative;
    bottom: 1px;
    height: 100px;
    background: black;

}

.contact a {
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.tech img {
    max-height: 110px;
}